src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="g13-config" api="g13.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="g13-main">
        <http:listener config-ref="g13-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router doc:id="3351c5bf-edc4-42db-8a24-948ecdc88cfa" config-ref="g13-config"/>
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="g13-console">
        <http:listener config-ref="g13-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="g13-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\orders\(orderId):application\json:g13-config">
		<logger level="INFO" doc:name="Logger" doc:id="fc82320a-6c06-4dd6-b58f-c81bd178f2d2" message='"Updating order"'/>
		<flow-ref doc:name="Flow Reference" doc:id="b7ac9df5-691e-4658-b3bd-764a4d4281d7" name="UpdateOrder"/>
		<flow-ref doc:name="Flow Reference" doc:id="d54f55a7-c110-477f-a0a9-1496403ceeb6" name="PUTResponse"/>
    </flow>
    <flow name="put:\users\(username):application\json:g13-config">
		<logger level="INFO" doc:name="Logger" doc:id="67ac21d7-906e-497d-bbdb-907ee7f44529" message='"Updating user"'/>
		<flow-ref doc:name="Flow Reference" doc:id="9560c72f-ae9b-4b1d-ba8e-cec1d555644c" name="UpdateUser"/>
		<flow-ref doc:name="Flow Reference" doc:id="ac3876d8-0a2d-4c1c-bbee-dfd04fbc1f03" name="PUTResponse"/>
    </flow>
    <flow name="delete:\users\(username):g13-config">
		<logger level="INFO" doc:name="Logger" doc:id="2ec744ec-0280-4a9a-9c02-03582bf6c805" message='"Deleting user"'/>
		<flow-ref doc:name="Flow Reference" doc:id="a3178957-9295-423f-b4a8-7230300c9b6f" name="DeleteUser"/>
    </flow>
    <flow name="get:\orders\(orderId):g13-config">
		<logger level="INFO" doc:name="Logger" doc:id="a368d0d6-9387-4c95-92c1-0dca2f376e51" message='"Fetching order"'/>
		<flow-ref doc:name="Flow Reference" doc:id="240de991-d76c-4565-be4e-d83406d2fe86" name="GetOrder"/>
    </flow>
    <flow name="post:\orders:application\json:g13-config">
		<logger level="INFO" doc:name="Logger" doc:id="494c4b2b-a175-48da-a5fd-3d833bdd7c61" message='"Creating order"'/>
		<flow-ref doc:name="CreateOrder" doc:id="2dd450f7-1074-4c84-8cb1-6fe386ecb5e9" name="CreateOrder"/>
		<flow-ref doc:name="Flow Reference" doc:id="19d2a7a5-55ca-4a1d-88e5-3aa1b4e56be4" name="POSTResponse"/>
    </flow>
    <flow name="post:\payment:g13-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Transaction processed successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users:application\json:g13-config">
		<logger level="INFO" doc:name="Logger" doc:id="89c5bf76-f8b6-47e9-a0be-3ed521b52eb3" message='"Creating user"'/>
		<flow-ref doc:name="Flow Reference" doc:id="c91b9eae-7f9f-4935-923b-c30bd32b5f09" name="CreateUser"/>
		<flow-ref doc:name="Flow Reference" doc:id="58f14971-9dfb-44b3-996b-d61db1215080" name="POSTResponse"/>
    </flow>
    <flow name="post:\wishlist:application\json:g13-config">
		<flow-ref doc:name="Flow Reference" doc:id="17a4bf75-6af0-4346-bab8-049d7c40b583" name="CreateWishlist"/>
    </flow>
</mule>
